<footer class="footer">
  <div class="footer__innerlinks">
    <a class="footer__innerlinks--link" href="https://adalab.es/">Articles</a>
    <a class="footer__innerlinks--link" href="https://adalab.es/">Books</a>
    <a class="footer__innerlinks--link" href="https://adalab.es/">Events</a>
    <a class="footer__innerlinks--link" href="https://adalab.es/">Reasons</a>
    <a class="footer__innerlinks--link" href="https://adalab.es/">Tips</a>
  </div>
  <div class="footer__outsidelinks">
    <a
      class="footer__outsidelinks--link"
      href="https://adalab.es/"
      target="_blank"
      >Twitter</a
    >
    <a href="https://adalab.es/" target="_blank">Instagram</a>
    <a href="https://adalab.es/" target="_blank">Mastodon.social</a>
  </div>
  <div class="footer__copy">
    <p class="footer__copy--p copy">&copy2022</p>
    <p class="footer__copy--p components">
      we <span class="footer__copy--heart">❤︎</span> components
    </p>
  </div>
</footer>
