<footer class="footer">
  <a class="footer__button" href="./index.html#header">
    <img
      class="footer__button--img"
      src="./assets/images/ico-arrow.svg"
      alt="Icono flecha subir"
    />
  </a>
  <div class="footer__inner">
    <a class="footer__inner--link" href="https://adalab.es/">Articles</a>
    <a class="footer__inner--link" href="https://adalab.es/">Books</a>
    <a class="footer__inner--link" href="https://adalab.es/">Events</a>
    <a class="footer__inner--link" href="https://adalab.es/">Reasons</a>
    <a class="footer__inner--link" href="https://adalab.es/">Tips</a>
  </div>
  <div class="footer__socialmedia">
    <a
      class="footer__socialmedia--link"
      href="https://adalab.es/"
      target="_blank"
      >Twitter</a
    >
    <a
      class="footer__socialmedia--link"
      href="https://adalab.es/"
      target="_blank"
      >Instagram</a
    >
    <a
      class="footer__socialmedia--link"
      href="https://adalab.es/"
      target="_blank"
      >Mastodon.social</a
    >
  </div>
  <div class="footer__copy">
    <small class="footer__copy--small">&copy;2022</small>
    <small class="footer__copy--small">
      we <span class="footer__copy--heart">❤︎</span> components
    </small>
  </div>
</footer>
