<section class="reasons" id="reasons">
  <h2 class="reasons__h2">3 Reasons to purchase</h2>
  <include
    src="./reasons-article.html"
    articleTitle="Ut sed metus"
    articleDesc="Lorem ipsum dolor sit amet, consecteur."
  ></include>
  <include
    src="./reasons-article.html"
    articleTitle="Curabitur ac erat"
    articleDesc="Mauris mattis urna quis lorem molestie."
  ></include>
  <include
    src="./reasons-article.html"
    articleTitle="Morbi dictum"
    articleDesc="Aliquam in dolor et dolor tincidunt."
  ></include>
  <a class="reasons__button" href="https://adalab.es/" target="_blank"
    >More reasons</a
  >
</section>
