// fonts
$font-main: 'Roboto', sans-serif;
$font-titles: 'Roboto Slab', serif;
$font-symbols: 'Zapf Dingbats Regular';

// colors
$color-orange: #f26002;
$color-white: #fff;
$color-lightblue: #8ccbea;
$color-blue: #0271bc;
$color-darkblue: #304268;
$color-darkgrey: #4a4a4a;
$color-iceblue: #eff9ff;

:root {
    font-family: $font-main;
    font-family: 100%;
}
