.footer {
  background-color: $color-darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 36px;
  @media all and (min-width: 768px) {
    padding: 5px 39px 40px;
  }
  @media all and (min-width: 1280px) {
    padding: 5px 370px 40px;
  }
  &__button {
    background-color: $color-white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    &--img {
      width: 20.6px;
      height: 24px;
    }
    animation: 0.7s infinite alternate-reverse buttonup;
    @keyframes buttonup {
      from {
        transform: translateY(-60%);
      }
      to {
        transform: translateY(-80%);
      }
    }
    @media all and (min-width: 768px) {
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    @media all and (min-width: 768px) {
      flex-direction: row;
      width: 100%;
      gap: 30px;
      justify-content: space-between;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    &--link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      font-family: $font-main;
      font-size: 1rem;
      line-height: 1.88;
      padding: 0px 20px;
      @media all and (min-width: 768px) {
        padding: 0px;
      }
    }
    @media all and (min-width: 768px) {
      text-align: left;
    }
  }
  &__socialmedia {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
    &--link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      font-family: $font-main;
      font-size: 1rem;
      line-height: 1.88;
      padding: 0px 20px;
      @media all and (min-width: 768px) {
        padding: 0px;
      }
    }
    @media all and (min-width: 768px) {
      text-align: left;
    }
  }
  &__copy {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-white;
    font-family: $font-main;
    font-size: 0.875rem;
    line-height: 2.14;
    &--heart {
      color: $color-orange;
    }
    @media all and (min-width: 768px) {
      order: -1;
      text-align: left;
    }
  }
}
