.menu {
    background-color: $color-blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 37.1px;
    height: 22px;
    
    &__link{
        /*top right bottom left*/
        padding: 0px 11.8px 5px 11.8px;
    }
    &__img{
        width: 13.5px;
        height: 9.7px;
        transform:translateY(-50%);
    }
}