.menu {
    background-color: $color-blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 37.1px;
    height: 37.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__link{
        /*top right bottom left*/
        padding: 5px 11.8px 5px 11.8px;
    }
    &__img{
        width: 13.5px;

    }
}