.hero {
  background: $color-blue url(../images/cover.jpeg) no-repeat scroll center;
  height: 100vh;
  background-size: cover;
  transform: rotate(-0.23deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @media all and (min-width: 768px) {
    transform: none;
  }
  &__h1 {
    color: $color-white;
    font-family: $font-titles;
    font-size: 2.625rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    line-height: 1.31;
    word-spacing: 100vw;
    @media all and (min-width: 768px) {
      font-size: 5rem;
      line-height: 1.33;
    }
    @media all and (min-width: 1280px) {
      font-size: 6.5rem;
      line-height: 1.32;
    }
  }
  &__p {
    color: $color-white;
    font-size: 1rem;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 35.2px;
    @media all and (min-width: 768px) {
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.17;
      max-width: 24ch;
    }
    @media all and (min-width: 1280px) {
      max-width: fit-content;
    }
  }
  &__button {
    background-color: $color-white;
    transform: rotate(-0.23deg);
    border-radius: 50%;
    /*top and bottom | right and left*/
    padding: 10.35px 10.4px;
    margin-bottom: 34.1px;
    @media all and (min-width: 768px) {
      padding: 16px 11.8px 13px;
      margin-bottom: 45px;
    }
    @media all and (min-width: 1280px) {
      padding: 16.5px 12.5px 12.5px;
      margin-bottom: 13px;
    }
    &--img {
      width: 16.8px;
      height: 9.6px;
      @media all and (min-width: 768px) {
        width: 18.9px;
        height: 11.7px;
      }
      @media all and (min-width: 1280px) {
        width: 20px;
        height: 11.7px;
      }
    }
  }
}
